name: Publish Extension

on:
  push:
    branches: [master]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12
          registry-url: https://registry.npmjs.org/

      - run: git fetch --all --tags
        
      - name: Check version change
        uses: thebongy/version-check@v1
        id: check
        with:
          file: package.json
          failBuild: false
          tagFormat: v${version}
      
      - name: Echo variables
        run: |
          echo "versionChanged- ${{steps.check.outputs.versionChanged}}"
          echo "releaseVersion- ${{steps.check.outputs.releaseVersion}}"

      - if: steps.check.outputs.versionChanged == 'true'
        run: npm install

      - if: steps.check.outputs.versionChanged == 'true'
        run: |
          npm i -g vsce
          vsce publish -p $VSCE_PAT
        env:
          VSCE_PAT: ${{secrets.VSCE_PAT}}
